.homepage{
  @include Structure-Container;
  grid-template-rows: 1fr auto;
  row-gap: 120px;
  &__info{
    &--description{
      width: 450px;
      margin-bottom: 20px;
      p{
        color: $White-Opacity-Color;
      }
    }
    &--slogan{
      width: 400px;
      span{
        font-size: 50px;
        font-weight: 700;
      }
      span:nth-child(3){
        color: $Secondary-Color;
      }
      span:nth-child(5){
        color: $Tertiary-Color;
      }
    }
  }
  &__role{
    align-items: center;
    display: flex;
    gap: 50px;
    flex-direction: column;
    border-left: 1px solid $White-Color;
    &--btn{
      &-options{
        display: flex;
        gap: 12px;
        margin-top: 12px;
        .opt1{
          @include Primary-Button;
        }
        .opt2{
          @include Secondary-Button;
        }
      }
    }
    &--market{
      flex-direction: column;
      display: flex;
      gap: 8px;
      padding-top: 40px;
      border-top: 1px solid $White-Color;
      @include Tertiary-Button;
    }
  }
  &__img{
    h1{
      font-size: 32px;
      margin-bottom: 20px;
    }
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
  }
}