@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");
/* Pallete Colors */
/* Other Colors */
/* Fonts */
/* Bold Fonts */
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Wix Madefor Text", sans-serif;
  background-color: #000;
}

p {
  font-weight: 500;
}

h1, h2, h3 {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Mixins and Classes */
.GlobalButton button, .marketplace__main--container--searchInput-filter .btn-search button, .containerReviewer__functions-submit button, .containerAuthor__functions-submit button, .homepage__role--market button, .homepage__role--btn-options .opt2 button, .homepage__role--btn-options .opt1 button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  color: #fff;
  transition: all 0.5s ease;
  font-weight: 700;
  font-family: "Wix Madefor Text", sans-serif;
  background-color: transparent;
  border: 2px solid #fff;
}

.StylesInput input, .containerAuthor__functions-name input, .containerAuthor__functions-tokens input {
  height: 30px;
  font-weight: 500;
  border-radius: 4px;
  padding-left: 12px;
  transition: all 0.5s ease;
  background-color: transparent;
}
.StylesInput input:focus, .containerAuthor__functions-name input:focus, .containerAuthor__functions-tokens input:focus, .StylesInput input:active, .containerAuthor__functions-name input:active, .containerAuthor__functions-tokens input:active {
  border: none;
  outline: none;
}

.StylesTextarea textarea, .containerReviewer__functions-review textarea, .containerAuthor__functions-description textarea {
  height: 100px !important;
  resize: none;
  padding: 8px;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.5s ease;
  background-color: transparent;
}
.StylesTextarea textarea:focus, .containerReviewer__functions-review textarea:focus, .containerAuthor__functions-description textarea:focus, .StylesTextarea textarea:active, .containerReviewer__functions-review textarea:active, .containerAuthor__functions-description textarea:active {
  border: none;
  outline: none;
}

.StylesArrow, .marketplace__header--title img, .containerReviewer__role--arrow, .containerAuthor__role--arrow {
  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  margin: 6px 12px 0 0;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}
.StylesArrow img, .marketplace__header--title img img, .containerReviewer__role--arrow img, .containerAuthor__role--arrow img {
  width: 100%;
}

/* Styles for component SDK */
.tw-transition-all {
  border-radius: 12px;
  background-color: #000;
  box-shadow: 0 0 10px 1px #d24873;
}

.tw-ease-out {
  box-shadow: 0 0 0 0 transparent !important;
}

.tw-to-orange-500 {
  background: linear-gradient(90deg, #d24873, #7d6db4);
}

.tw-text-blue-500 {
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px !important;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  color: #d24873;
  margin: 12px auto 0 auto;
  transition: all 0.5s ease;
  font-weight: 700;
  font-family: "Wix Madefor Text", sans-serif;
  background-color: transparent;
  border: 2px solid #d24873;
}

.tw-text-blue-500:hover {
  box-shadow: 0 0 5px 1px #d24873;
}

.tw-justify-end button {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease;
  background-color: #fff;
}

.tw-justify-end button:hover {
  border: 1px solid #d24873;
  box-shadow: 0 0 5px 1px #d24873;
}

.tw-content-center button {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #d24873;
}

.tw-content-center button:hover {
  box-shadow: 0 0 5px 1px #d24873;
}

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}
.header__logo {
  display: flex;
  gap: 12px;
}
.header__logo--svg {
  width: 90px;
}
.header__logo--slogan span {
  font-weight: 600;
}

.footer {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  width: 1100px;
  display: grid;
  margin: 70px auto 0 auto;
  padding: 0 30px 30px 30px;
}
.footer__description {
  justify-content: center;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  gap: 8px;
}
.footer__description--technologies ul {
  list-style: none;
  display: flex;
  gap: 12px;
}
.footer__description--technologies ul li {
  padding: 8px;
}
.footer__description--technologies ul li a {
  padding-bottom: 4px;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}
.footer__description--technologies ul li a:hover {
  font-weight: 700;
}
.footer__description--technologies ul li:first-child a:hover {
  color: #d24873;
  border-bottom: 2px solid #d24873;
}
.footer__description--technologies ul li:nth-child(2) a:hover {
  color: #7d6db4;
  border-bottom: 2px solid #7d6db4;
}
.footer__description--technologies ul li:last-child a:hover {
  color: #5b7dcf;
  border-bottom: 2px solid #5b7dcf;
}
.footer__description--text p {
  color: rgba(255, 255, 255, 0.5);
}
.footer__techSVG {
  grid-row: 1/2;
  grid-column: 2/3;
}
.footer__techSVG--technologies {
  position: absolute;
}
.footer__techSVG--svg {
  position: relative;
}
.footer__rights {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
}

.homepage {
  grid-template-columns: 65% 35%;
  width: 1000px;
  display: grid;
  padding: 0 30px;
  margin: 50px auto;
  grid-template-rows: 1fr auto;
  row-gap: 120px;
}
.homepage__info--description {
  width: 450px;
  margin-bottom: 20px;
}
.homepage__info--description p {
  color: rgba(255, 255, 255, 0.5);
}
.homepage__info--slogan {
  width: 400px;
}
.homepage__info--slogan span {
  font-size: 50px;
  font-weight: 700;
}
.homepage__info--slogan span:nth-child(3) {
  color: #d24873;
}
.homepage__info--slogan span:nth-child(5) {
  color: #5b7dcf;
}
.homepage__role {
  align-items: center;
  display: flex;
  gap: 50px;
  flex-direction: column;
  border-left: 1px solid #fff;
}
.homepage__role--btn-options {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}
.homepage__role--btn-options .opt1 button:hover {
  color: #d24873;
  border: 2px solid #d24873;
  box-shadow: 0 0 5px 1px #d24873;
}
.homepage__role--btn-options .opt2 button:hover {
  color: #5b7dcf;
  border: 2px solid #5b7dcf;
  box-shadow: 0 0 5px 1px #5b7dcf;
}
.homepage__role--market {
  flex-direction: column;
  display: flex;
  gap: 8px;
  padding-top: 40px;
  border-top: 1px solid #fff;
}
.homepage__role--market button:hover {
  color: #7d6db4;
  border: 2px solid #7d6db4;
  box-shadow: 0 0 5px 1px #7d6db4;
}
.homepage__workflow {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 100%;
}
.homepage__workflow h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.homepage__dataEconomic {
  grid-column: 1/3;
}
.homepage__dataEconomic h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.containerAuthor {
  grid-template-rows: 80px auto;
  margin-top: 50px !important;
  grid-template-columns: 65% 35%;
  width: 1000px;
  display: grid;
  padding: 0 30px;
  margin: 50px auto;
}
.containerAuthor__role {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
}
.containerAuthor__role--arrow:hover {
  border: 1px solid #d24873;
}
.containerAuthor__role h1 {
  font-size: 50px;
  color: #d24873;
}
.containerAuthor__functions {
  justify-content: center;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
}
.containerAuthor__functions form {
  flex-direction: column;
  display: flex;
  width: 80%;
  gap: 12px;
}
.containerAuthor__functions-name, .containerAuthor__functions-tokens {
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.containerAuthor__functions-name label, .containerAuthor__functions-tokens label {
  font-weight: 700;
}
.containerAuthor__functions-name input, .containerAuthor__functions-tokens input {
  color: #fff;
  font-family: "Wix Madefor Text", sans-serif;
  border: 1px solid #d24873;
}
.containerAuthor__functions-name input:hover, .containerAuthor__functions-tokens input:hover {
  box-shadow: 0 0 10px 0 #d24873;
}
.containerAuthor__functions-name input:active, .containerAuthor__functions-name input:focus, .containerAuthor__functions-tokens input:active, .containerAuthor__functions-tokens input:focus {
  color: #000;
  background-color: #d24873;
}
.containerAuthor__functions-description {
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.containerAuthor__functions-description label {
  font-weight: 700;
}
.containerAuthor__functions-description textarea {
  color: #fff;
  font-family: "Wix Madefor Text", sans-serif;
  border: 1px solid #d24873;
}
.containerAuthor__functions-description textarea:hover {
  box-shadow: 0 0 10px 0 #d24873;
}
.containerAuthor__functions-description textarea:active, .containerAuthor__functions-description textarea:focus {
  color: #000;
  background-color: #d24873;
}
.containerAuthor__functions-submit {
  margin-top: 12px;
}
.containerAuthor__functions-submit button:hover {
  color: #d24873;
  border: 2px solid #d24873;
  box-shadow: 0 0 5px 1px #d24873;
}
.containerAuthor__article {
  place-items: center;
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  border-radius: 12px;
  border: 2px dotted #d24873;
}
.containerAuthor__article--input {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 80%;
  gap: 8px;
}

.containerReviewer {
  grid-template-rows: 80px auto;
  margin-top: 50px !important;
  grid-template-columns: 65% 35%;
  width: 1000px;
  display: grid;
  padding: 0 30px;
  margin: 50px auto;
}
.containerReviewer__role {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
}
.containerReviewer__role--arrow:hover {
  border: 1px solid #5b7dcf;
}
.containerReviewer__role h1 {
  font-size: 50px;
  color: #5b7dcf;
}
.containerReviewer__functions {
  justify-content: center;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
}
.containerReviewer__functions form {
  flex-direction: column;
  display: flex;
  width: 80%;
  gap: 12px;
}
.containerReviewer__functions-name {
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.containerReviewer__functions-name label {
  font-weight: 700;
}
.containerReviewer__functions-name select {
  height: 30px;
  outline: none;
  font-weight: 500;
  border-radius: 4px;
  padding-left: 12px;
  color: #fff;
  transition: all 0.5s ease;
  font-family: "Wix Madefor Text", sans-serif;
  background-color: transparent;
  border: 1px solid #5b7dcf;
}
.containerReviewer__functions-name select:hover {
  box-shadow: 0 0 10px 0 #5b7dcf;
}
.containerReviewer__functions-name select:focus, .containerReviewer__functions-name select:active {
  color: #000;
  background-color: #5b7dcf;
}
.containerReviewer__functions-description {
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.containerReviewer__functions-description label {
  font-weight: 700;
}
.containerReviewer__functions-description span {
  font-weight: 500;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #5b7dcf;
}
.containerReviewer__functions-review {
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.containerReviewer__functions-review label {
  font-weight: 700;
}
.containerReviewer__functions-review textarea {
  color: #fff;
  font-family: "Wix Madefor Text", sans-serif;
  border: 1px solid #5b7dcf;
}
.containerReviewer__functions-review textarea:hover {
  box-shadow: 0 0 10px 0 #5b7dcf;
}
.containerReviewer__functions-review textarea:active, .containerReviewer__functions-review textarea:focus {
  color: #000;
  background-color: #5b7dcf;
}
.containerReviewer__functions-submit {
  margin-top: 12px;
}
.containerReviewer__functions-submit button:hover {
  color: #5b7dcf;
  border: 2px solid #5b7dcf;
  box-shadow: 0 0 5px 1px #5b7dcf;
}
.containerReviewer__article {
  place-items: center;
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  padding: 12px;
  border-radius: 12px;
  border: 2px dotted #5b7dcf;
}
.containerReviewer__article--input {
  display: flex;
  height: 100%;
  width: 100%;
}
.containerReviewer__article--input iframe {
  width: 100%;
}

.marketplace {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 90px 1fr 1fr;
}
.marketplace__aside {
  justify-content: space-between;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/4;
  display: flex;
  height: 100vh;
  padding: 20px;
  background-color: #212121;
}
.marketplace__aside--logo {
  justify-content: center;
  display: flex;
}
.marketplace__aside--logo img {
  width: 90px;
}
.marketplace__aside--nav {
  flex-direction: column;
  display: flex;
  gap: 26px;
}
.marketplace__aside--nav li {
  place-items: center;
  display: flex;
  gap: 8px;
}
.marketplace__aside--nav .inactiveLink span {
  color: #808080;
  font-weight: 700;
}
.marketplace__aside--terms {
  padding: 32px 0 12px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}
.marketplace__aside--terms-links {
  justify-content: space-between;
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.marketplace__aside--terms-links p {
  color: #808080;
  font-weight: 700;
}
.marketplace__aside--terms-rights {
  text-align: center;
}
.marketplace__aside--terms-rights p {
  font-size: 14px;
  color: #808080;
  font-weight: 700;
}
.marketplace__header {
  justify-content: space-between;
  grid-column: 2/3;
  display: flex;
  padding: 0 30px;
}
.marketplace__header--title {
  place-items: center;
  display: flex;
}
.marketplace__header--title img:hover {
  border: 1px solid #7d6db4;
}
.marketplace__header--title h1 {
  font-size: 50px;
  color: #7d6db4;
}
.marketplace__header--nav {
  place-items: center;
  display: flex;
  gap: 34px;
}
.marketplace__header--nav-items {
  display: flex;
  gap: 12px;
}
.marketplace__header--nav-items img {
  width: 50px;
}
.marketplace__main {
  grid-template-columns: 1.7fr 1fr;
  grid-column: 2/3;
  grid-row: 2/4;
  display: grid;
}
.marketplace__main--container {
  padding: 0 25px;
}
.marketplace__main--container--searchInput-input {
  place-items: center;
  display: flex;
  width: 100%;
  gap: 12px;
  padding: 18px 32px;
  border-radius: 20px;
  background-color: #212121;
}
.marketplace__main--container--searchInput-input input {
  width: 100%;
  height: 45px;
  border: none;
  font-weight: 700;
  padding-left: 12px;
  color: #808080;
  border-radius: 12px;
  font-family: "Wix Madefor Text", sans-serif;
  background-color: transparent;
  border: 1px solid #808080 !important;
}
.marketplace__main--container--searchInput-filter {
  justify-content: end;
  display: flex;
  gap: 12px;
  margin-top: 16px;
  padding: 18px 32px;
}
.marketplace__main--container--searchInput-filter .filters {
  place-items: center;
  display: flex;
  gap: 12px;
}
.marketplace__main--container--searchInput-filter .filters span {
  padding: 8px;
  cursor: pointer;
  font-weight: 500;
  height: -moz-fit-content;
  height: fit-content;
  color: #7d6db4;
  border-radius: 12px;
  transition: all 0.3s ease;
  border: 1px solid #7d6db4;
}
.marketplace__main--container--searchInput-filter .filters span:hover {
  color: #fff;
  border: 1px solid #fff;
}
.marketplace__main--container--searchInput-filter .btn-search button:hover {
  color: #7d6db4;
  border: 2px solid #7d6db4;
  box-shadow: 0 0 5px 1px #7d6db4;
}
.marketplace__main--container--cards {
  margin-top: 18px;
}
.marketplace__main--container--cards-feed {
  justify-content: space-between;
  display: flex;
}
.marketplace__main--container--cards-feed .buttons {
  place-items: center;
  display: flex;
  gap: 12px;
}
.marketplace__main--container--cards-feed .buttons button {
  justify-content: center;
  place-items: center;
  display: flex;
  gap: 4px;
  width: 100px;
  padding: 8px 0;
  border-radius: 12px;
}
.marketplace__main--container--cards-feed .buttons button img {
  width: 28px;
  height: 28px;
}
.marketplace__main--container--cards-feed .buttons button:first-child {
  color: #fff;
  border: 1px solid #7d6db4;
  background-color: rgba(125, 109, 180, 0.5);
}
.marketplace__main--container--cards-feed .buttons button:last-child {
  color: #808080;
  background-color: transparent;
  border: 1px solid #808080;
}
.marketplace__main--container--cards-feed .btn-square {
  display: flex;
}
.marketplace__main--container--cards-feed .btn-square img {
  width: 50px;
}/*# sourceMappingURL=styles.css.map */